@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --purple:#3A0F5B;
  --cyan:#00CFDB;
  --red:#F71857; }

.cyan {
  color: var(--cyan); }

.purple {
  color: var(--purple); }

.red {
  color: var(--red); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: var(--purple);
  font-family: 'Poppins', sans-serif; }

main {
  background-image: url(/img/backgroundHeader.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%; }
  main nav {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px; }
    main nav img {
      width: 189px !important; }
    main nav section.NavbarContent {
      max-width: 379px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main nav section.NavbarContent a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.125rem;
        font-family: Poppins;
        color: var(--purple); }
  main header {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding-top: 135px; }
    main header h1 {
      color: white;
      font-size: 4.75rem;
      font-weight: 400;
      max-width: 751px; }
    main header p {
      font-size: 1.25rem;
      color: white;
      max-width: 624px;
      line-height: 2.68125rem;
      position: relative;
      margin-left: 38px; }
      main header p:before, main header p:after {
        content: '"';
        position: absolute;
        font-size: 84px;
        top: 0;
        left: -25px;
        opacity: 0.72;
        padding: 0;
        margin: 0;
        transform: translate(-35%, 69%); }
  main section:not(.NavbarContent) {
    max-width: 1224px;
    width: 90%;
    margin: auto; }
    main section:not(.NavbarContent) h1 {
      font-size: 3.375rem;
      font-weight: normal;
      text-align: center; }
    main section:not(.NavbarContent).containerFrentesDeAtuacao {
      color: white; }
      main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 15px;
        margin-top: 90px; }
        main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card {
          height: 596px;
          max-height: 596px;
          text-align: center;
          background-color: #4C256A;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: filter .15s, box-shadow .25s, transform .25s;
          cursor: default;
          position: relative;
          z-index: 0; }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card:hover {
            filter: brightness(0.9);
            box-shadow: inset 0 0 0 2px var(--cyan);
            transform: scale(1.01); }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card h1 {
            font-size: 2rem;
            font-weight: 600 !important; }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card p {
            max-width: 429px;
            font-size: 1.125rem;
            line-height: 1.83375rem;
            font-weight: 400;
            margin-top: 14px; }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card img {
            position: absolute;
            position: absolute;
            z-index: 1; }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card:first-child img, main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card:nth-child(3) img {
            left: 0;
            top: 100%;
            transform: translate(-50%, -60%); }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card:nth-child(2) img {
            left: 90%;
            top: 15%;
            transform: translate(-50%, -60%); }
          main section:not(.NavbarContent).containerFrentesDeAtuacao .containerCards .card:nth-child(4) img {
            left: 90%;
            top: 15%;
            transform: translate(-50%, -60%); }
