@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
:root {
  --purple:#3A0F5B;
  --cyan:#00CFDB;
  --red:#F71857; }

.cyan {
  color: var(--cyan); }

.purple {
  color: var(--purple); }

.red {
  color: var(--red); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: var(--purple);
  font-family: 'Poppins', sans-serif; }

main {
  background-image: url(/img/backgroundHeader.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%; }
  main nav {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px; }
    main nav img {
      width: 189px !important; }
    main nav .NavbarContent {
      max-width: 379px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main nav .NavbarContent a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.125rem;
        font-family: Poppins;
        color: var(--purple); }
  main header {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding-top: 135px; }
    main header h1 {
      color: white;
      font-size: 4.75rem;
      font-weight: 400;
      max-width: 751px; }
    main header p {
      font-size: 1.25rem;
      color: white;
      max-width: 624px;
      line-height: 2.68125rem;
      position: relative;
      margin-left: 38px; }
      main header p:before, main header p:after {
        content: '"';
        position: absolute;
        font-size: 84px;
        top: 0;
        left: -25px;
        opacity: 0.72;
        padding: 0;
        margin: 0;
        transform: translate(-35%, 69%); }
