section.containerAssistenciaEducacional {
  background: var(--cyan);
  position: relative;
  padding-bottom: 10rem;

  img.backgroundImage {
    @include backgroundImageBasics;
    z-index: -1;

    @media (max-width:768px) {
      position: absolute;
      top: 0;
      width: 100%;
      max-height: 500px;
      overflow: hidden;

      transform: translateY(-69%);
    }
  }

  div.container {
    @include addContainer;
    display: flex;
    justify-content: space-between;
    color: white;

    @media (max-width:768px) {
      flex-direction: column;

    }

    div.rightContain {

      h1 {
        font-weight: 400;
        line-height: 5.0625rem;
        font-size: 3rem;
        margin-bottom: 4rem;
      }

      p {
        @include HeaderParagraph;
        max-width: 587.13px;
      }
    }
  }
}