section.containerAssistenciaEducacional {
  background: var(--cyan);
  position: relative;
  padding-bottom: 10rem;

  img.backgroundImage {
    @include backgroundImageBasics
  }

  div.container {
    @include addContainer;
    display: flex;
    justify-content: space-between;
    color: white;

    div.rightContain {

      h1 {
        font-weight: 400;
        line-height: 5.0625rem;
        font-size: 3rem;
      }

      p {
        @include HeaderParagraph;
        max-width: 587.13px;
      }
    }
  }
}