section.containerComoTrabalhamos {
  background: white;
  position: relative;

  &:before,
  &:after {
    content: "";
    height: 200px;
    position: absolute;
    width: 120%;
    background: white;
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    z-index: 0;
    max-width: 100%;

    @media (min-width:1440px) {
      height: 230px;
    }
  }

  &:after {
    top: 100%;
    transform: translateY(-50%);
  }

  z-index: 2;

  img.backgroundImage {
    @include backgroundImageBasics;
    max-heigth: 300px;
  }


  .container {
    @include addContainer;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
      padding-bottom: 150px;
    }

    h1 {
      @include h1Header;
      margin-bottom: 4rem;
    }

    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 195px;
      gap: 30px;

      @media (max-width:768px) {
        flex-direction: column;
        margin-bottom: 35px;
        text-align: center;
        border-top: 2px var(--purple) solid;
        padding-top: 20px;

        h2 {
          margin-top: 20px;
        }
      }

      img {
        max-width: 547px;
        width: 100%;
      }

      .containerText {
        max-width: 582px;

        h2 {
          font-weight: 400;
          font-size: 2rem;
        }

        p {
          font-size: 1.25rem;
          color: #525252;
          line-height: 2.68125rem;
        }
      }
    }
  }
}