section.containerContact {
  @include addContainer;
  margin-top: 206px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    @include h1Header;
  }

  .containerForm {
    max-width: 831px;
    width: 90%;

    form {
      width: 100%;

      input,
      textarea {
        width: 100%;
        padding: 25px 33px;
        border-radius: 5px;
        font-size: 1.25rem;
        margin-top: 40px;
        border: none;
        transition: box-shadow .25s, filter .25s;
        max-height: 184px;

        &:hover {
          filter: brightness(0.95);
        }

        &:focus-visible {
          filter: brightness(0.95);
          outline: 0;
          box-shadow: 0 0 0 5px var(--cyan);
        }
      }

      button {
        background: var(--cyan);
        color: white;
        display: flex;
        width: 100%;
        border: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 20px;
        cursor: pointer;
        transition: filter .25s, transform .25s;
        border-radius: 5px;
        margin-top: 41px;
        font-size: 1.3rem;
        font-weight: 600;

        &:focus-visible {
          outline: 0;
        }

        &:hover {
          filter: brightness(0.95);
          transform: translateY(-3px);
        }
      }


      textarea {
        font-family: Poppins, sans-serif;
        box-sizing: border-box;

        &:focus-visible {
          box-shadow: 0 0 0 5px var(--cyan);
        }
      }
    }
  }
}