footer {

  &:before {
    content: "";
    height: 110px;
    position: absolute;
    width: 120%;
    background: var(--cyan);
    border-radius: 50%;
    top: 0;
    max-width: 100%;
    transform: translateY(-50%);

    z-index: -1;

    @media (min-width:1440px) {
      height: 230px;
    }
  }

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 303px;
  font-size: 1rem;
  background: var(--cyan);
  color: white;
  min-height: 300px;

  h3 {
    font-size: 1rem;
  }

  img {
    width: 189px;
  }
}