header {
  @include addContainer;
  padding-top: 135px;
  min-height: 980px;

  h1 {
    color: white;
    font-size: 4.75rem;
    font-weight: 400;
    max-width: 751px;

    @media (max-width:768px) {
      font-size: 3.75rem;
      text-align: center;
    }
  }

  p {
    @include HeaderParagraph;
  }
}