nav {
  @include addContainer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

  img {
    width: 189px !important;
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-start;

    img {
      width: 129px !important;
    }
  }

  section.NavbarContent {
    max-width: 379px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.125rem;
      font-family: Poppins;
      color: var(--purple);

      @media screen and (max-width: 768px) {
        display: none;
        color: white;

      }
    }
  }
}

//end Nav