@import './global';
@import './mixins';


body {
  background: var(--purple);
  font-family: "Poppins", sans-serif;
}

main {
  background-image: url(/img/backgroundHeader.svg);

  // @media (max-width:768px) {
  //   background-image: none;
  // }

  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
  @import './nav';
  @import './header';
  @import './normalize';
  @import './comoTrabalhamos';
  @import './contact';
  @import './assistenciaEducacional';
}

@import './footer';