@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --purple:#3A0F5B;
  --cyan:#00CFDB;
  --red:#F71857;
}
.cyan{
  color: var(--cyan);
}

.purple{
  color: var(--purple);
}

.red{
  color: var(--red);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin addContainer {
  max-width: 1224px;
  width: 90%;
  margin: auto;
}
@mixin h1Header{
  font-size: 3.375rem;
  font-weight: normal;
  text-align: center;
}
body{
  background: var(--purple);
  font-family: 'Poppins', sans-serif;
}

main{
  background-image: url(/img/backgroundHeader.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;

 nav{
    @include addContainer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 32px;
    img{
      width:189px !important;
    }
    section.NavbarContent{
      max-width: 379px;
      width:50%;
      display: flex;
      align-items: center;
      justify-content:space-between;
      a{
        text-decoration: none;
        font-weight: 500;
        font-size: 1.125rem;
        font-family: Poppins;
        color: var(--purple);
      }
    }
  } //end Nav

  header {
    @include addContainer;
    padding-top: 135px;

    h1{
      color: white;
      font-size: 4.75rem;
      font-weight: 400;
      max-width: 751px;
    }
    p {
      font-size: 1.25rem;
      color: white;
      max-width: 624px;
      line-height: 2.68125rem;
      position: relative;
      margin-left: 38px;
      
      &:before, &:after{
        content: '"';
        position: absolute;
        font-size: 84px;
        top: 0;
        left: -25px;
        opacity: 0.72;
        padding: 0;
        margin: 0;
        transform: translate(-35%,69%);        
      }
      &:after{
      }
    }
  }

  section:not(.NavbarContent):not(.containerComoTrabalhamos){
    @include addContainer;
    h1{
      @include h1Header;
    }
    &.containerFrentesDeAtuacao{
      color: white;
      .containerCards{
        display:grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 15px;
        margin-top: 90px;
        .card{
          height:596px;
          max-height:596px;
          text-align: center;
          background-color:#4C256A;
          border-radius: 5px;
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content:center;
          transition: filter .15s, box-shadow .25s, transform .25s;
          cursor: default;
          &:hover{
            filter: brightness(0.9);
            box-shadow: inset 0 0 0 2px var(--cyan);
            transform: scale(1.01);
          }
          h1{
            font-size: 2rem;
            font-weight: 600 !important;
          }

          p{
            max-width: 429px;
            font-size: 1.125rem;
            line-height:1.83375rem;
            font-weight: 400;
            margin-top: 14px;
          }
          position: relative;
          z-index: 0;
          img{
            position: absolute;
            position: absolute;
            z-index: 1;
          }
          &:first-child, &:nth-child(3){
            img{
              left: 0;
              top: 100%;
              transform: translate(-50%, -60%);
            }
          }
          &:nth-child(2){
            img{
              left: 90%;
              top: 15%;
              transform: translate(-50%, -60%);
            }
          }
          &:nth-child(4){
            img{
              left: 90%;
              top: 15%;
              transform: translate(-50%, -60%);
            }
          }
          
        }
      }
    }
  }
  section.containerComoTrabalhamos{
    background: white;
    .container{
    @include addContainer;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      h1{
        @include h1Header;
      }
      article{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 195px;
        img{
          max-width: 547px;
        }
        .containerText{
          max-width: 582px;
          h2{
            font-weight: 400;
            font-size: 2rem;
          }
          p{
            font-size: 1.25rem;
            color:#525252;
            line-height: 2.68125rem;
          }
        }
        
      }
    }

  }
 
}