@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --purple: #3a0f5b;
  --cyan: #00cfdb;
  --red: #f71857;
}

@mixin backgroundImageBasics {
  position: absolute;
  bottom: 60%;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.cyan {
  color: var(--cyan);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin addContainer {
  max-width: 1224px;
  width: 90%;
  margin: auto;
}

@mixin h1Header {
  font-size: 3.375rem;
  font-weight: normal;
  text-align: center;
}

@mixin HeaderParagraph {
  font-size: 1.25rem;
  color: white;
  max-width: 624px;
  line-height: 2.68125rem;
  position: relative;
  margin-left: 38px;

  &:before,
  &:after {
    content: '"';
    position: absolute;
    font-size: 84px;
    top: 0;
    left: -25px;
    opacity: 0.72;
    padding: 0;
    margin: 0;
    transform: translate(-35%, 69%);
  }

  &:after {}
}

body {
  background: var(--purple);
  font-family: "Poppins", sans-serif;
}

main {
  background-image: url(/img/backgroundHeader.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;

  nav {
    @include addContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;

    img {
      width: 189px !important;
    }

    section.NavbarContent {
      max-width: 379px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.125rem;
        font-family: Poppins;
        color: var(--purple);
      }
    }
  }

  //end Nav

  header {
    @include addContainer;
    padding-top: 135px;
    min-height: 980px;

    h1 {
      color: white;
      font-size: 4.75rem;
      font-weight: 400;
      max-width: 751px;
    }

    p {
      @include HeaderParagraph;
    }
  }

  section:not(.NavbarContent):not(.containerComoTrabalhamos):not(.containerContact):not(.containerAssistenciaEducacional) {
    @include addContainer;

    h1 {
      @include h1Header;
    }

    &.containerFrentesDeAtuacao {
      color: white;

      .containerCards {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 15px;
        margin-top: 90px;

        .card {
          height: 596px;
          max-height: 596px;
          text-align: center;
          background-color: #4c256a;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: filter 0.15s, box-shadow 0.25s, transform 0.25s;
          cursor: default;

          &:hover {
            filter: brightness(0.9);
            box-shadow: inset 0 0 0 2px var(--cyan);
            transform: scale(1.01);
          }

          h1 {
            font-size: 2rem;
            font-weight: 600 !important;
          }

          p {
            max-width: 429px;
            font-size: 1.125rem;
            line-height: 1.83375rem;
            font-weight: 400;
            margin-top: 14px;
          }

          position: relative;
          z-index: 0;

          img {
            position: absolute;
            position: absolute;
            z-index: 1;
          }

          &:first-child,
          &:nth-child(3) {
            img {
              left: 0;
              top: 100%;
              transform: translate(-50%, -60%);
            }
          }

          &:nth-child(2) {
            img {
              left: 90%;
              top: 15%;
              transform: translate(-50%, -60%);
            }
          }

          &:nth-child(4) {
            img {
              left: 90%;
              top: 15%;
              transform: translate(-50%, -60%);
            }
          }
        }
      }
    }
  }

  section.containerComoTrabalhamos {
    background: white;
    position: relative;

    img.backgroundImage {
      @include backgroundImageBasics;
      max-heigth: 300px;
    }


    .container {
      @include addContainer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        @include h1Header;
      }

      article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 195px;

        img {
          max-width: 547px;
        }

        .containerText {
          max-width: 582px;

          h2 {
            font-weight: 400;
            font-size: 2rem;
          }

          p {
            font-size: 1.25rem;
            color: #525252;
            line-height: 2.68125rem;
          }
        }
      }
    }
  }

  section.containerContact {
    @include addContainer;
    margin-top: 206px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      @include h1Header;
    }

    .containerForm {
      max-width: 831px;
      width: 90%;

      form {
        width: 100%;

        input,
        textarea {
          width: 100%;
          padding: 25px 33px;
          border-radius: 5px;
          font-size: 1.25rem;
          margin-top: 40px;
          border: none;
          transition: box-shadow .25s, filter .25s;
          max-height: 184px;

          &:hover {
            filter: brightness(0.95);
          }

          &:focus-visible {
            filter: brightness(0.95);
            outline: 0;
            box-shadow: var(--red) 0 0 0 4px inset;
          }
        }

        .containerTextArea {
          position: relative;
          overflow: hidden;
          max-height: 184px;
          border-radius: 5px;

          button {
            background: var(--cyan);
            color: white;
            position: absolute;
            right: 0;
            top: 40px;
            height: calc(100% - 30px);
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px 20px;
            cursor: pointer;
            transition: filter .25s;
            z-index: 1;

            &:before {
              background: var(--cyan);
              content: "";
              height: 110%;
              width: 100%;
              position: absolute;
              z-index: -1;
              transform: rotate(8deg) translate(-11px, 15px);
            }

            &:focus-visible {
              outline: 0;
            }

            &:hover {
              filter: brightness(0.95);
            }
          }
        }

        textarea {
          font-family: Poppins, sans-serif;
          box-sizing: border-box;
        }
      }
    }
  }



  section.containerAssistenciaEducacional {
    background: var(--cyan);
    position: relative;

    img.backgroundImage {
      @include backgroundImageBasics
    }

    div.container {
      @include addContainer;
      display: flex;
      justify-content: space-between;
      color: white;

      div.rightContain {

        h1 {
          font-weight: 400;
          line-height: 5.0625rem;
          font-size: 3rem;
        }

        p {
          @include HeaderParagraph;
          max-width: 587.13px;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 303px;
  font-size: 1rem;
  background: var(--cyan);
  color: white;
  min-height: 300px;

  h3 {
    font-size: 1rem;
  }

  img {
    width: 189px;
  }
}